/* Couleurs */
:root {
    --bleu: #0078d4;
    --bleu-pale: #51a2e0;
    --bleu-fonce: #00365f;
    --bg: #222;

    --border-radius: 3px;
}

body {
    margin: 0px;
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
}

.conteneur {
    height: 100vh;
    display: flex;
    flex-direction: column;

    a {
        color: white;
        text-decoration: none;
        font-size: 0.85rem;
        padding: 10px 12px;

        &:hover {
            background-color: #111;
        }
    }

    header {
        display: flex;
        justify-content: space-between;
        background-color: var(--bleu);

        .gauche {
            display: flex;
            align-items: center;

            .icone-menu {
                display: flex;
                align-items: center;

                div {
                    width: 25px;
                    height: 25px;
                    background-color: white;
                }
            }

            h1 {
                color: white;
                margin: 0px 15px 0px 40px;
                font-size: 18px;
                font-weight: bold;
            }

            input {
                background-color: var(--bleu-fonce);
                color: white;
                border: none;
                padding: 7px 20px 7px 35px;
                border-radius: var(--border-radius);
                width: 300px;

                &::placeholder {
                    color: white;
                }
            }
        }

        .droite {
            display: flex;
            align-items: center;

            img {
                width: 25px;
            }
        }

        .bouton {
            height: 50px;
            cursor: pointer;
            padding: 0px 15px;
            display: flex;
            align-items: center;

            &:hover {
                background-color: var(--bleu-fonce);
            }
        }
    }

    #options {
        background-color: #333;
        height: 50px;
        align-items: center;
        display: flex;
        padding: 2px 0px 2px 15px;

        #nouveau-message {
            background-color: var(--bleu-pale);
            color: #111;
            border: none;
            padding: 10px 15px;
            border-radius: 3px;

        }


        .liens {
            margin-left: 10px;


        }
    }

    #contenu {
        flex: 1;
        display: flex;
        overflow: hidden;

        nav {
            margin-top: 10px; 
            min-width: 150px;
            overflow-y: auto;

            div {
                padding: 10px 12px;
            }
        }

        .liste {
            padding: 10px 5px 0px 15px;
            overflow-y: auto;
            min-width: 250px;

            .auteur, .titre, .apercu {
                color: white;
            }

            div {
                margin-top: 30px;
            }
        }
    }

    #message {
        color: white;
        padding: 0px 30px;
        overflow: hidden;

        .corps {
            overflow-y: auto;
            height: 100%;
        }
    }
}