/* Couleurs */
:root {
    --bleu: #0078d4;
    --bleu-pale: #51a2e0;
    --bleu-fonce: #00365f;
    --bg: #222;

    --border-radius: 3px;
}

body {
    margin: 0px;
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
}

.conteneur {
    height: 100vh;

    header {
        display: flex;
        background-color: var(--bleu);

        .gauche {
            display: flex;
            align-items: center;

            .icone-menu {
                display: flex;
                align-items: center;

                div {
                    width: 25px;
                    height: 25px;
                    background-color: white;
                }
            }

            h1 {
                color: white;
                margin: 0px 15px 0px 40px;
                font-size: 18px;
                font-weight: bold;
            }

            input {
                background-color: var(--bleu-fonce);
                color: white;
                border: none;
                padding: 4px 20px 4px 40px;
                border-radius: var(--border-radius);
                width: 300px;
            }
        }

        .bouton {
            height: 50px;
            cursor: pointer;
            padding: 0px 15px;

            &:hover {
                background-color: var(--bleu-fonce);
            }
        }
    }
}